* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  color: #fff;
}

.logged-in-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.not-logged-in-header .link {
  margin-left: 10px;
}

.header .link {
  color: #fff;
  text-decoration: none;
}

.header .link:hover {
  color: #bebebe;
  text-decoration: underline;
}

h2 {
  margin-top: 20px;
}

.content-wrapper {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

/* TAXIS LIST */
.taxis-list-container {
  list-style: none;
  margin-top: 20px;
}

.taxi-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.taxi-list-icon span {
  font-size: 16px;
}

@media (min-width: 768px) {

  .taxi-list-icon,
  .taxi-list-icon span {
    font-size: 20px;
  }
}

.taxi-list-icon:first-of-type {
  justify-content: flex-start;
}

.taxi-list-icon:last-of-type {
  justify-content: flex-end;
}

.taxi-item-list {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
}

.taxi-item-list p:first-of-type {
  text-align: left;
}

.taxi-item-list p:last-of-type {
  text-align: right;
}

.taxi-item-list:first-of-type {
  border-top: 1px solid #222;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 19px;
}

.taxi-item-list:first-of-type:hover {
  background-color: #fff;
  cursor: inherit;
}

.taxi-item-list strong {
  font-size: 20px;
}

.taxi-item-list p {
  pointer-events: none;
}

.taxi-item-list:last-of-type {
  border-bottom: 1px solid #222;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.taxi-item-list:hover {
  background-color: #e7e7e7;
}

.reserved {
  background-color: #059862;
  color: #fff;
}

.reserved:hover {
  background-color: #068355;
}

.run-out {
  background-color: #80183c;
  color: #fff;
}

.run-out:hover {
  background-color: #80183ce6;
}

/* REGISTER */
.register-component {
  padding-bottom: 120px;
}

/* LOGIN */
.login-component {
  padding-bottom: 120px;
}

@media (min-width: 768px) {
  .login-component {
    padding-bottom: 190px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form .form-field {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(175, 40, 90, 0.5);
  min-width: 90%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.login-form .form-field input {
  padding: 10px;
  color: #999;
  background: #e7e7e7;
  border: none;
  font-size: 16px;
}

.login-form .form-field input:focus {
  color: #000;
}

.login-form .login-button {
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  width: 90%;
  color: #fff;
  background-color: rgb(128, 24, 60);
  border: none;
}

.login-form .login-button:hover {
  cursor: pointer;
  background-color: rgba(128, 24, 60, 0.9);
}

@media (min-width: 768px) {
  .login-form {
    width: 30%;
    margin: 0 auto;
  }

  .login-form .form-field {
    width: 30% !important;
    display: flex;
    justify-content: space-between;
  }

  .login-form .login-button {
    min-width: 30%;
  }
}

/* NOTIFICATION */
.success,
.error {
  position: fixed;
  left: calc(50% - 210.5px);
  min-width: 420px;
  bottom: -60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  border-left-width: 8px;
  animation: slide-up 5s;
}

@keyframes slide-up {
  from {
    bottom: -60px;
  }

  25% {
    bottom: 60px;
  }

  75% {
    bottom: 60px;
  }

  to {
    bottom: -70px;
  }
}

.success {
  border-color: #059862;
  color: #068355;
}

.error {
  border-color: #80183ce6;
  color: #80183c;
}

/* GUEST RESERVATION PAGE && NOT FOUND */
.not-found h2,
.guest-reservation h2 {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found p,
.guest-reservation p {
  margin: 40px 0;
}

.not-found .link,
.guest-reservation .link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.not-found .link:hover,
.guest-reservation .link:hover {
  text-decoration: underline;
  font-weight: normal;
  color: #282c34;
}

/* FOOTER */
.footer {
  height: 8vh;
  background-color: #e1e1e1;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.footer .link {
  text-decoration: none;
  color: #222;
}

.footer .link:hover {
  text-decoration: underline;
}